<div class="container-fluid">
	<div class="col-md-offset-4 col-md-4">
		<h1 class="caption-title">New Article</h1>
		<hr>

		<%= render 'articles/form', user: current_user, article: @article %>
	</div>
</div>