<div class="container-fluid">
	<div class="col-md-offset-2 col-md-8">
		<h1 class="caption-title"><%= @article.title %></h1>
		<hr>
		<p>Created By : <%= @user.username %></p>
		<p>Content : <%= @article.content %></p>
	</div>
</div>