<div class="container-fluid">
	<%= link_to "Back", verb_path(@verb), :class => "btn btn-primary pull-right" %>
	
	<br>
	<h1 class="caption-title">Update Past Information</h1>
	<hr><br>

	<div class="col-md-offset-4 col-md-4">
		<%= render 'verb_view_common/past/form', past: @past, verb: @verb, personalpronomen: @personalpronomen, grammer: @grammer %>
	</div>
</div>