  <div class="col-sm-6 col-md-3">
	  <div class="thumbnail">
	    <%= image_tag 'apple.jpg', :style => "width: 242px; height: 200px; padding-top: 10px" %>
	    <div class="caption">
	      <h4>German Wörterbuch</h4>
	      <p>This is where all the german vocabulary store! Looking for more specific information about the german vocabulary? Enter here right now!</p>
	      <p><%= link_to "Enter", '#', :class => "btn btn-primary btn-sm" %></p>
      </div>
    </div>
	</div>
