<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
		<% unless perfect.nil? %>
			<table class="table table-hover">
				<caption class="caption-title"><h3>Perfekt</h3></caption>
				<%= render 'verb_view_common/thumbnail_partial', personalpronomen: personalpronomen, grammer: grammer, verb_tense: perfect %>
				<tr>
					<td colspan="2">
						<%= link_to "Edit", edit_verb_perfect_path(verb, perfect), :class => "btn btn-sm btn-primary pull-right" %>
					</td>
				</tr>
			</table>
		<% else %>
      <img src="http://images.vectorhq.com/images/previews/cd1/blue-question-mark-clip-art-99583.png" alt="question" style="width: 170px; height= 170px; padding-top: 10px;">
			<div class="caption">
				<h3>Perfekt</h3>
				<p>There is no "perfect" information in this verb currently.</p>
				<%= link_to "Add Information", new_verb_perfect_path(verb), :class => "btn btn-sm btn-success" %>
			</div>
		<% end %>
	</div>
</div>