/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';

body {
	background-image: url("http://img.inspiredluxuryescapes.com/assets/Uploads/german.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1.caption-title, h3.caption-title {
  	color: white;
  	text-align: center;
  }
  
  table caption.caption-title, table th.header-caption {
  	color: black;
  	text-align: center;
  }

	img {
		border-radius: 20px;
	}
	
	form {
		padding-bottom: 500px;
		
		div.cancel-account {
			background-color: rgba(255,255,255,0.8);
			padding: 10px;
			margin: 10px;
			border-radius: 5px;
		}

		div.cancel-account:hover {
			background-color: rgba(226,47,47,0.6);
			color: #fff;
			padding: 10px;
			margin: 10px;
			border-radius: 5px;
			a {
				color: #fcd3ce;
				text-decoration: none;
			}

			a:hover {
				color: #fff8e7;
			}
		}
	}

	div.panel-heading {
		background-color: rgba(23,74,41,0.8);
		color: white;
		border-color: rgba(23,74,41,1);
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	div.panel-body {
		background-color: rgba(255,255,255,0.7);
		border-color: rgba(255,255,255,1);
		margin-bottom: 40px;
	}

	div.panel-heading:hover {
		background-color: rgba(23,72,41,0.9);
	}
	div.panel-body:hover {
		background-color: rgba(255,255,255,0.9);
	}

	div.thumbnail {
		background-color: rgba(255,255,255,0.8);
	}

	div.thumbnail:hover, div.optional:hover{
		background-color: rgba(38,101,72,0.5);
		p,h1,h2,h3,h4,h5,h6,label {
			color: white;
		}
	}

	div.required:hover {
		background-color: rgba(201,139,132,0.5);
		p,h1,h2,h3,h4,h5,h6,label {
			color: white;
		}
	}
	
	div.optional, div.required {
		background-color: rgba(255,255,255,0.8);		
		padding: 10px;
		border-radius: 5px;
	}

	table.table {
		background-color: rgba(255,255,255,0.8);
		border-radius: 5px;
	}
}	
