<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
		<% if false %>
		<% else %>
      <img src="http://images.vectorhq.com/images/previews/cd1/blue-question-mark-clip-art-99583.png" alt="question" style="width: 170px; height= 170px; padding-top: 10px;">
			<div class="caption">
				<h3>Präsent</h3>
				<p>There is no "präsent" information in this verb currently.</p>
				<%= link_to "Add Information", verbs_path, :class => "btn btn-sm btn-success" %>
			</div>
		<% end %>
	</div>
</div>